/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body {
    background-color: #540b51;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.ajustar-img {
    display: flex;
    justify-content: flex-start;
}
.nav-logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 70px;
    
}
.nav button {
    background-color: #540B51;
    border: none;
}
.button-logo {
    width:  15px;
}
.h1 {
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 30px;
}

.separate-div {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.separate-div button {
    margin-right: 10px;
    margin-top: 15px;
}
.p {
    color: white;
    margin-bottom: 20px;
    font-size: 13px;
}
.b {
    color: #ECB12F;
}
.first-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.first-div button {
    width: 92%;
    margin-left: 4%;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 750;
}
.sign-up-btn {
    background-color: white;
    color: #540b51; 
    margin-bottom: 10px;
    border: none;
    height: 40px; 
}
.google-btn {
    margin-bottom: 40px;
    background-color: #2578eb;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.span {
    margin-top: 6px;
    margin-left: 60px;
    margin-right: 80px;
}
.google-btn img {
    width: 20px
}
.img-container {
    background-color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center ;
}
.first-div button span {
 display: flex;
  justify-content: center;
  align-items: center;
}
.adjust-img img {
    width: 100%;
}
div button {
    display: flexbox;
}
nav ul {
    display: none;
}
.section-color {
    display: flex;
    flex-direction: column;
    background-color: #F3EAE2;
}
.second-p {
    color: black;
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    width: 70;
}
.img-container2 {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.airbnb {
    padding-top: 7px;
    height: 25px;
}
.nasa {
    height: 40px;
}
.uber {
    height: 36px;
}
.target {
    height: 35px;
}
.nyt {
    height: 25px;
}
.spotify {
    height: 25px;
}
.section-color-white {
    background-color: white;
    padding-bottom: 20px;
}
.section-agregada ul {
padding: 0 40px;
}
.section-color-white h3 {
    margin-top: 0;
    padding-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
    color: #540B51;
    font-weight: 750;
    font-size: 21px;
}
.morado {
    color: #540B51;
    font-size: 35px;
}
.section-color-white p {
    font-size: 60%;
}
ul li {
    list-style-type: none;
}
#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 6%;
}
hr {
    display: none;
}
footer {
    padding: 25px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.border-top {
    border-top: 0.5px solid  black;
    margin: 10% 5% ;
    text-align: start;
    padding-left: 0;
    padding-top: 20px;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 750;
}
.border-top li {
    padding-bottom: 18px;
}
a {
    text-decoration: none;
     color: #2E71A6;
}
.penultima-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.penultima-seccion h3 {
    color: white;
    font-size: 20px;
    margin-left: 8%;
    margin-right: 8%;
}
.penultima-seccion button {
    width: 92%;
    margin-left: 4%;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 750;
    
}
.boton-1 {
    background-color: white;
    color: #540b51; 
    margin-bottom: 10px;
}
.boton-2 {
    margin-bottom: 40px;
    background-color: #540b51;
    color: white;
    border-color: white;
    
}
small {
    font-size: 9px;
    opacity: 0.6;
}
@media (max-width: 768px) {
.nueva-section img {
    display: none
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        margin-bottom: 50px;
    }
    .nueva-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nueva-section div {
        width: 35%;
        text-align: start;
        margin-left: 3%;
    }
    .nueva-section img {
        margin-top: 140px;
        width: 360px;
        height: 240px;
    }
    .first-div {
        width: 56%;
    }
    .h1 {
        font-size: 50px;
       display: flex;
       justify-content: flex-start;
    }
    .div-text {
    display: flex;
    flex: 1;
    padding: 20px
    }
    
    .p {
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
        width: 120%;
    }
    .adjust-img {
        display: none;
    }
    .img-container1 {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    .izquierdo {
        width: 50%;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 40px;
    }
    .derecho {
        width: 45%;
        justify-content: space-between;
        margin-right: 20px;
    }
    .nyt {
        height: 35px;
    }
    .spotify {
        height: 35px;
    }
    .section-agregada h3 {
        font-size: 30px;
    }
    .section-agregada p {
        font-size: 18px;
    }
    .section-agregada ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    } 
    .asterisco {
        display: none;
    }
    .section-agregada small {
        display: none
    }
    .penultima-seccion button {
        justify-content: center;
        width: 80%; 
        margin-left: 10%;
    }
    .border-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .border-top li {
        margin-right: 10%;
    }
    #icons {
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 60%;

    }
    }
  
        